@model IEnumerable<MyResourcesApp.Models.Product>

@{
    ViewData["Title"] = "Register Product";
}

<h1>@ViewData["Title"]</h1>
@*<form class="flex-wrap">
    <div class="searchTerm">
        <input value="@ViewData["GetDetails"]" name="productSearch" type="text" class ="search" placeholder="Search Product"/>
        
         <button class="btn btn-info">Search</button>
    </div>
</form>*@

<p>
    <a class="btn btn-primary my-1" asp-action="Create" role="button"><i class="fas fa-plus mr-1"></i>Add New Product</a>
   
</p>
    

   @* <div class="col-sm-4">
        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New product</button>
    </div>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
