@model IEnumerable<MyResourcesApp.Models.Product>

@{
    ViewData["Title"] = "Register Product";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="EnterNewProduct">Enter New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteProductInfo", "Product", new { productName = item.productName }))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductInfo", new { productName = item.productName }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "ViewProductInfo", new { productName = item.productName }, new { @class = "btn btn-primary" }) |
                <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you sure you wanted to delete product recorde with ID= @item.productName')" />
                @*@Html.ActionLink("Delete", "DeleteCustomerInfo", new {cid = item.CID, n=1 }, new { @class = "btn btn-primary" })*@
            </td>
        </tr>
    }
}
    </tbody>
</table>
