@model MyResourcesApp.Models.Site

@{
    ViewData["Title"] = "View Site Details";
}
<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditSiteInfo", new { siteId = Model.SiteID }, new { @class = "btn btn-primary" }) |
    <a asp-action="RegisterSite">Back to List</a>
</div>
