@model IEnumerable<MyResourcesApp.Models.Customer>

@{
    ViewData["Title"] = "Register Customer";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary my-1" asp-action="EnterNewCustomer" role="button"><i class="fas fa-plus mr-1"></i>Add New Customer</a>

</p>

<table class="table table-hover" id="dataTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            using (Html.BeginForm("DeleteCustomerInfo", "Customer", new { cid = item.CID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCustomerInfo", new { cid = item.CID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "ViewCustomerInfo", new { cid = item.CID }, new { @class = "btn btn-primary" }) |
                        <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you sure you wanted to delete site recode with ID= @item.CID')" />
                        @*@Html.ActionLink("Delete", "DeleteCustomerInfo", new {cid = item.CID, n=1 }, new { @class = "btn btn-primary" })*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
